<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-sup.css" />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

    <table>
        <% allUploads.forEach(function(upload) { %>
            <tr>
                <td><%= upload.name %></a></td>
                <td><a href="/up/<%= upload.code %>"><%= upload.code %></a></td>
                <td><%= upload.userId %></a></td>
                <td><%= upload.protected %></a></td>
                <td><a href="/upload/<%= upload.code %>/remove">Delete</a></td>
            </tr>
        <% }) %>
    </table>

    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/bootstrap.js"></script>
</body>
</html>