<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <table>
        <% allUploads.forEach(function(upload) { %>
            <tr>
                <td><%= upload.name %></td>
                <td><a href="/up/<%= upload.code %>"><%= upload.code %></a></td>
                <td><%= upload.userId %></a></td>
                <td><%= upload.protected %></td>
                <td><a href="/upload/<%= upload.code %>/remove">Delete</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>